body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 1.5em 0 0 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 90%;
    margin: 0 5%;
    padding: 1em 0;
    border-top: 1px solid #EEE; /*grey 200*/
    border-bottom: 1px solid #EEE; /*grey 200*/
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/

}

button {
    width: 45%;
    margin: 0;
    background: #FAFAFA; /*grey 50*/
    border: 1px solid #EEE; /*grey 200*/
    cursor: pointer;
    flex: initial; /*flex: 0 1 auto*/
}

button:hover {
    text-decoration: none;
}

.selected {
    background: #42A5F5; /*blue 400*/
}

form {
    width: 90%;
    margin: 0 5%;
    padding: 0;
    border-bottom: 1px solid #EEE; /*grey 200*/
    flex: initial; /*flex: 0 1 auto*/
}

fieldset {
    margin: .5em 0;
    padding: .5em 0;
    border: none;
}

label {
    margin-right: 1em;
    padding: 0;
}

input {
    margin-right: 1em;
    text-align: center;
    border: 2px solid #ECEFF1; /*blue grey 50*/
}

/*Makes placeholder grey and italicized*/
input::placeholder {
   color: #BDBDBD;
   font-style: italic;
}

/*Placeholder prefix for Chrome, Opera, Safari*/
input::-webkit-input-placeholder {
   color: #BDBDBD;
   font-style: italic;
}

/*Placeholder prefix for Firefox 19+*/
input::-moz-placeholder {  
   color: #BDBDBD;
   font-style: italic;
}

/*Placeholder prefix for Firefox 18-*/
input:-moz-placeholder {
   color: #BDBDBD;
   font-style: italic;
}

/*Placeholder prefix for IE 10+*/
input:-ms-input-placeholder {  
   color: #BDBDBD;
   font-style: italic; 
}

/*Hides placeholder text field clicked on*/
input:focus::placeholder {
    opacity: 0;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

/*div within section*/
.result {
    margin: 1em 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

/*div within section*/
.action {
    margin: 1em 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    text-align: right;
}

@media all and (min-width: 300px) {
    .result {
        width: 100%;
        min-height: 1.6875em; /*need this. div empty before result*/
    }

    .action {
        width: 100%;
    }
}

@media all and (min-width: 600px) {
    .result {
        width: 60%;
        min-height: 1.8em;
    }
    
    .action {
        width: 40%;
    }
}

/*spans*/
.sum {
    color: #BF7256; /*brown*/
}

.clear {
    color: #1976D2; /*blue 700*/
    cursor: pointer;
}

.clear:hover {
    cursor: pointer;
    text-decoration: underline;
}

.convert {
    color: #1976D2; /*blue 700*/
    cursor: pointer;
    margin-left: 1.5em;
}

.convert:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h2, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

p, label, input, span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

.grey {
    color: #757575; /*grey 600*/
}

@media all and (min-width: 300px) {
    p, label, input, span {
        font-size: .9375em; /*15 pixels*/
    }

    h1 {
        font-size: 1.4375em; /*23 pixels*/
    }

    h2, button {
        font-size: 1.0625em; /*17 pixels*/
    }
}

@media all and (min-width: 600px) {
    p, label, input, span {
        font-size: 1em; /*16 pixels*/
    }

    h1 {
        font-size: 1.5em; /*24 pixels*/
    }

    h2, button {
        font-size: 1.125em; /*18 pixels*/
    }
}