body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin: 0 0 1em 0;
    padding: 1em 5%;
    flex: initial; /*flex: 0 1 auto*/
    background: #FAFAFA; /*grey 50*/
    border-bottom: 1px solid #EEE; /*grey 200*/
    position:  relative;
}

header::before {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    left: 100%;
    background: #FAFAFA; /*grey 50*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

header::after {
    content:  "";
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 1200px;
    right: 100%;
    background: #FAFAFA; /*grey 50*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

form {
    width: 90%;
    margin: 1em 0;
    padding: 0 5%;
    border-bottom: 1px solid #EEE; /*grey 200*/
    flex: initial; /*flex: 0 1 auto*/
}

fieldset {
    margin: .5em 0;
    padding: .5em 0;
    border: none;
}

label {
    margin-right: 1em;
    padding: 0;
}

input {
    margin-right: 1em;
    text-align: center;
    border: 2px solid #ECEFF1; /*blue grey 50*/
}

/*P class that houses "convert" and "sum" span classes*/
.result {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

/*"Convert" text button*/
.convert {
    color: #007AC1; /*light blue 500 dark*/
    flex: initial; /*flex: 0 1 auto*/
}

.convert:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*Converted coordinate is displayed here*/
.sum {
    color: #725B53; /*brown 300 dark*/
    flex: initial; /*flex: 0 1 auto*/
}

footer {
    width: 90%;
    margin: 0 0 1em 0;
    padding: 1em 5%;
    background: #F5F5F5; /*grey 100*/
    flex: initial; /*flex: 0 1 auto*/
}

h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

p, label, input {
    font-family: 'Roboto', serif;
    line-height: 1.8;
    font-weight: 400;
}

@media all and (min-width: 300px) {
    p, label, input {
        font-size: .9375em; /*15 pixels*/
    }

    h1 {
        font-size: 1.4375em; /*23 pixels*/
    }

    h2 {
        font-size: 1.0625em; /*17 pixels*/
    }
}

@media all and (min-width: 600px) {
    p, label, input {
        font-size: 1em; /*16 pixels*/
    }

    h1 {
        font-size: 1.5em; /*24 pixels*/
    }

    h2 {
        font-size: 1.125em; /*18 pixels*/
    }
}